/* Heck */
html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: sans-serif;
    background-image: url("images/possiblebg.jpg");
    background-size: cover;
    background-attachment: fixed;
}

ul {
    width: 570px;
    padding: 15px;
    text-align: center;
    margin: 0px auto 0px auto;
    border-top: 2px solid #000;
    border-bottom: 3px solid #000;
}

li {
    display: inline;
    margin: 0px 3px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    padding: 6px 18px 6px 18px;

}

input {
    font-size: 130%;
    color: #5a5854;
    background-color: #f2f2f2;
    border: 1px solid #bdbdbd;
    border-radius: 1px;
    padding: 5px 5px 5px 6px;
    margin-bottom: 10px;
}

input:focus, input.hover {
    background-color: #ffffff;
    border: 1px solid #b1e1e4;
}


button {
    background-color: #2E8B57;
    color: white;
    text-transform: uppercase;
    padding: 12px 16px;
    margin: 4px;
    width: 150px;
}

p9 {
    color: red;
}

#wrapper {
    /* but im not a wrapper */
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    margin-bottom: 100px;
}

#middlebit {
    padding: 10px;
    margin-top: 0px;
    margin-left: 0px;
    text-align: center;
    background-color: white;
    opacity: 0.95;
}

#header {
    text-align: center;
}

#footer {
    position: absolute;
    height: 60px;
    background-color: white;
    color: forestgreen;
    text-align: center;
    border-top: 2px solid #000;
    border-bottom: 3px solid #000;
    border-left: 3px solid #000;
    border-right: 3px solid #000;
    bottom: 0;
    width: 90%;
    height: auto;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}

#laZucc a {
    color: red;
    text-decoration: none;
}

#loginform {
    width: 350px;
}

#searchform {
    width: 350px;
}

#map {
    height: 60%;
}

#resulttable {
    border-collapse: collapse;
    width: 100%;
}

#resulttable td, #resulttable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#resulttable tr:hover {
    background-color: #ddd;
}

#resulttable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: grey;
    color: white;
}
.map {
    width: auto;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid;
}

.mapresult {
    height: auto;
    margin-left: 100px;
    margin-right: 100px;
    border: 2px solid;
}

.error-message {
    color: red;
    visibility: hidden;
}

.stars {
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    padding: 0 .2em;
    text-align: center;
    width: 5em;
    margin: auto;
}

.stars input {
    display:none;
}

.stars label {
    color:#ccc;
    cursor:pointer;
}

.stars :checked ~ label {
    color:#f90;
}

.stars label:hover, .stars label:hover ~ label {
    color:#fc0;
}

.resultStars {
    color:#f90
}

.userreviews {
    text-align: center;
    border: 2px solid;
    float: right;
    width: 370;
}

.parkinfo {
    width: 390;
    float: left;
}

.leaveAReview {
    width: 370;
    float: right;
}
